<!-- public/assets/partials/head.html -->

<meta name="monetag" content="7829d23ba4a1542e7b69d76a78b9f27d">

<!-- Google AdSense -->
<script async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8529764196804634"
  crossorigin="anonymous"></script>

<!-- Monetag -->
<script src="https://fpyf8.com/88/tag.min.js"
  data-zone="187598"
  async
  data-cfasync="false"></script>

<!-- (Optionnel) Tes scripts "atOptions" : si tu veux VRAIMENT les charger partout -->
<script>
  window.atOptions = {
    key: "c8f6fe03fa0be119b2a3477767248bac",
    format: "iframe",
    height: 300,
    width: 160,
    params: {}
  };
</script>

<script src="https://pl28417835.effectivegatecpm.com/f6/af/b7/f6afb7c91547e6fd77713d2eb4cf1252.js"></script>
<script src="//www.highperformanceformat.com/c8f6fe03fa0be119b2a3477767248bac/invoke.js"></script>
